# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [1]:
# your code here

import pandas as pd
import numpy as np

tic_tac_toe_df = pd.read_csv("tic-tac-toe.csv")

In [2]:
tic_tac_toe_df.sample(5)

    TL TM TR ML MM MR BL BM BR  class
860  o  b  x  o  x  b  o  b  x  False
357  o  x  b  o  b  o  x  x  x   True
676  x  o  x  x  o  b  o  o  x  False
308  o  x  x  o  b  x  b  o  x   True
544  b  o  x  o  o  x  b  x  x   True

In [3]:
tic_tac_toe_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   TL      958 non-null    object
 1   TM      958 non-null    object
 2   TR      958 non-null    object
 3   ML      958 non-null    object
 4   MM      958 non-null    object
 5   MR      958 non-null    object
 6   BL      958 non-null    object
 7   BM      958 non-null    object
 8   BR      958 non-null    object
 9   class   958 non-null    bool
dtypes: bool(1), object(9)
memory usage: 68.4+ KB

In [4]:
tic_tac_toe_df.replace("x", 1, inplace=True)
tic_tac_toe_df.replace("o", 2, inplace=True)
tic_tac_toe_df.replace("b", 0, inplace=True)
tic_tac_toe_df.sample(5)

     TL  TM  TR  ML  MM  MR  BL  BM  BR  class
690   1   2   2   1   1   2   0   1   2  False
303   2   1   1   2   1   0   1   2   0   True
911   0   1   0   2   2   2   1   0   1  False
840   2   2   2   0   1   1   0   0   1  False
759   2   1   1   2   2   2   0   1   1  False

In [5]:
tic_tac_toe_df.replace(True, 1, inplace=True)
tic_tac_toe_df.replace(False, 2, inplace=True)

In [6]:
tic_tac_toe_df.sample(5)

     TL  TM  TR  ML  MM  MR  BL  BM  BR  class
580   0   2   0   1   1   1   0   2   0      1
890   0   1   1   0   0   1   2   2   2      2
759   2   1   1   2   2   2   0   1   1      2
173   1   2   2   2   1   2   1   1   1      1
518   0   1   0   2   1   2   1   1   2      1

In [7]:
X = tic_tac_toe_df[["TL", "TM", "TR", "ML", "MM", "MR", "BL", "BM", "BR"]]
Y = tic_tac_toe_df["class"]

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_ = scaler.fit_transform(X)

In [9]:
X = pd.DataFrame(X_)
X

,0,1,2,3,4,5,6,7,8
0,-0.183771,-0.107947,-0.183771,-0.107947,1.164180,1.184714,-0.183771,1.184714,1.170477
1,-0.183771,-0.107947,-0.183771,-0.107947,1.164180,1.184714,1.170477,-0.107947,1.170477
2,-0.183771,-0.107947,-0.183771,-0.107947,1.164180,1.184714,1.170477,1.184714,-0.183771
3,-0.183771,-0.107947,-0.183771,-0.107947,1.164180,1.184714,1.170477,-1.400607,-1.538019
4,-0.183771,-0.107947,-0.183771,-0.107947,1.164180,1.184714,-1.538019,1.184714,-1.538019
...,...,...,...,...,...,...,...,...,...
953,1.170477,-0.107947,-0.183771,-0.107947,1.164180,1.184714,1.170477,-0.107947,-0.183771
954,1.170477,-0.107947,1.170477,-0.107947,-0.269348,1.184714,-0.183771,1.184714,-0.183771
955,1.170477,-0.107947,1.170477,-0.107947,1.164180,-0.107947,-0.183771,1.184714,-0.183771
956,1.170477,-0.107947,1.170477,1.184714,-0.269348,-0.107947,-0.183771,1.184714,-0.183771
957,1.170477,1.184714,-0.183771,-0.107947,-0.269348,1.184714,1.170477,-0.107947,-0.183771

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [10]:
#!pip install --upgrade tensorflow

In [11]:
# your code here

import tensorflow as tf 
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=1)

2024-01-06 17:25:23.214689: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [12]:
model_seq = tf.keras.models.Sequential()

In [13]:
model_seq.add(tf.keras.layers.Flatten())

In [14]:
model_seq.add(tf.keras.layers.Dense(128, activation=tf.nn.relu))
model_seq.add(tf.keras.layers.Dense(128, activation=tf.nn.relu))
#model_seq.add(tf.keras.layers.Dense(64, activation=tf.nn.relu))
#model_seq.add(tf.keras.layers.Dense(32, activation=tf.nn.relu))
#model_seq.add(tf.keras.layers.Dense(16, activation=tf.nn.relu))
#model_seq.add(tf.keras.layers.Dense(8, activation=tf.nn.relu))
#model_seq.add(tf.keras.layers.Dense(4, activation=tf.nn.relu))
#model_seq.add(tf.keras.layers.Dense(2, activation=tf.nn.relu))
model_seq.add(tf.keras.layers.Dense(10, activation=tf.nn.softmax))

In [15]:
custom_optimizer = tf.keras.optimizers.Adam()
custom_optimizer.lr.assign(0.005)

model_seq.compile(custom_optimizer,
                  loss="sparse_categorical_crossentropy",
                  metrics=["accuracy"])

In [16]:
model_seq.fit(X_train, y_train, epochs=25)

Epoch 1/25
24/24 [==============================] - 1s 2ms/step - loss: 0.7679 - accuracy: 0.6932
Epoch 2/25
24/24 [==============================] - 0s 1ms/step - loss: 0.4887 - accuracy: 0.7415
Epoch 3/25
24/24 [==============================] - 0s 1ms/step - loss: 0.4061 - accuracy: 0.7977
Epoch 4/25
24/24 [==============================] - 0s 1ms/step - loss: 0.3921 - accuracy: 0.8016
Epoch 5/25
24/24 [==============================] - 0s 3ms/step - loss: 0.2992 - accuracy: 0.8708
Epoch 6/25
24/24 [==============================] - 0s 1ms/step - loss: 0.2615 - accuracy: 0.8851
Epoch 7/25
24/24 [==============================] - 0s 1ms/step - loss: 0.2132 - accuracy: 0.9151
Epoch 8/25
24/24 [==============================] - 0s 2ms/step - loss: 0.1836 - accuracy: 0.9256
Epoch 9/25
24/24 [==============================] - 0s 1ms/step - loss: 0.1396 - accuracy: 0.9478
Epoch 10/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0974 - accuracy: 0.9726
Epoch 11/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0747 - accuracy: 0.9791
Epoch 12/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0518 - accuracy: 0.9883
Epoch 13/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0426 - accuracy: 0.9935
Epoch 14/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0310 - accuracy: 0.9961
Epoch 15/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0239 - accuracy: 1.0000
Epoch 16/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0189 - accuracy: 1.0000
Epoch 17/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0150 - accuracy: 1.0000
Epoch 18/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0114 - accuracy: 1.0000
Epoch 19/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0091 - accuracy: 1.0000
Epoch 20/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0077 - accuracy: 1.0000
Epoch 21/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0062 - accuracy: 1.0000
Epoch 22/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0054 - accuracy: 1.0000
Epoch 23/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0047 - accuracy: 1.0000
Epoch 24/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0042 - accuracy: 1.0000
Epoch 25/25
24/24 [==============================] - 0s 1ms/step - loss: 0.0038 - accuracy: 1.0000

In [17]:
val_loss, val_acc = model_seq.evaluate(X_test, y_test)

print("Val_loss:", val_loss)
print("Val_acc:", val_acc)

6/6 [==============================] - 0s 2ms/step - loss: 0.1103 - accuracy: 0.9531
Val_loss: 0.11033708602190018
Val_acc: 0.953125

In [18]:
model_seq.save("tic-tac-toe.model")

INFO:tensorflow:Assets written to: tic-tac-toe.model/assets

INFO:tensorflow:Assets written to: tic-tac-toe.model/assets

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [19]:
# your code here

import random

new_model = tf.keras.models.load_model("tic-tac-toe.model")

In [20]:
predictions = new_model.predict([X_test])

6/6 [==============================] - 0s 1ms/step

In [21]:
print(np.argmax(predictions))

51

In [22]:
pred = new_model.predict([X_test])
pred = [np.argmax(res) for res in pred ]

6/6 [==============================] - 0s 2ms/step

In [23]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, pred)

0.953125

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [24]:
# your code here

**Which approach(es) did you find helpful to improve your model performance?**

In [26]:
# your answer here

#I added more layers but only decreased the accuracy. The learning rate was 
#more of an improvement.